config:
  bookmarks: []
  services:
    - {{ .Namespace }}:
        - Open WebUI:
            href: https://openwebui.{{.Values.domain}}/
            icon: https://openwebui.com/favicon.png
            description: Open WebUI is an extensible, self-hosted AI interface that adapts to your workflow, all while operating entirely offline

        - LiteLLM:
            href: https://litellm.{{.Values.domain}}/ui
            description: LLM Gateway to provide AI model access.
            icon: https://pbs.twimg.com/profile_images/1783589223406415872/3KMxGGrF_400x400.jpg
        - Langfuse:
            href: https://langfuse.{{.Values.domain}}/
            description: Traces, evals, prompt management and metrics to debug and improve your LLM application.
            icon: https://langfuse.com/icon256.png
        - pgAdmin4:
            href: https://pgadmin.{{.Values.domain}}/
            description: pgAdmin4 is a web based administration tool for PostgreSQL database
            icon: https://artifacthub.io/image/61ef8ba4-4c21-438e-a0a2-e35628f1e193@2x

    - Infrastructure:
        - MinIO:
            href: https://minio-console.{{.Values.domain}}/
            icon: https://blog.alexellis.io/content/images/2017/01/minio_light_cir_sm-1.png
            description: MinIO is a cloud-native object store built to run on any infrastructure

        - Grafana:
            href: https://grafana.{{.Values.domain}}
            description: Grafana is a multi-platform open source analytics and interactive visualization web application.
            icon: https://w7.pngwing.com/pngs/434/923/png-transparent-grafana-hd-logo-thumbnail.png

        - Prometheus:
            href: https://prometheus-server.{{.Values.domain}}/
            description: An open-source monitoring system with a dimensional data model, flexible query language, efficient time series database and modern alerting approach.
            icon: https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Prometheus_software_logo.svg/230px-Prometheus_software_logo.svg.png

  widgets: []
  kubernetes:
    mode: cluster
  settings:
    title: AI Development Stack
    favicon: https://cdn.iconscout.com/icon/premium/png-256-thumb/ai-fine-tuning-11275257-9339092.png
    useEqualHeights: true
    theme: dark
    layout:
      {{ .Namespace }}:
        style: column
        columns: 3
      Infrastructure:
        style: row
        columns: 3
# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage

# This enables the service account to access the necessary resources
enableRbac: false
ingress:
  main:
    annotations:
      nginx.ingress.kubernetes.io/auth-url: "https://$host/oauth2/auth"
      nginx.ingress.kubernetes.io/auth-signin: "https://$host/oauth2/start?rd=$escaped_request_uri"
    tls:
    - hosts:
      - {{ .Values.domain }}
    hosts: 
    - host: {{ .Values.domain }}
      paths:
        - path: /
          pathType: ImplementationSpecific
    enabled: true
    ingressClassName: {{ .Namespace }}