config:
  bookmarks: []
  services:
    - {{ .Namespace }}:
        - Open WebUI:
            href: http://openwebui.{{.Values.domain}}/
            description: Open WebUI is an extensible, self-hosted AI interface that adapts to your workflow, all while operating entirely offline

        - LiteLLM:
            href: http://litellm.{{.Values.domain}}/ui
            description: LLM Gateway to provide AI model access.

        - Langfuse:
            href: http://langfuse.{{.Values.domain}}/
            description: Traces, evals, prompt management and metrics to debug and improve your LLM application.
  widgets: []

  kubernetes:
    mode: cluster
  settings:

# The service account is necessary to allow discovery of other services
serviceAccount:
  create: true
  name: homepage

# This enables the service account to access the necessary resources
enableRbac: true
ingress:
  main:
    tls:
    - hosts:
      - {{ .Values.domain }}
    hosts: 
    - host: {{ .Values.domain }}
      paths:
        - path: /
          pathType: ImplementationSpecific
    enabled: true
    ingressClassName: {{ .Namespace }}