envVars:
    DATABASE_URL: {{ .Values.db_url }}/{{ .Namespace }}_litellm
    LANGFUSE_PUBLIC_KEY: {{.Values.langfuse.public_key}}
    LANGFUSE_SECRET_KEY: {{.Values.langfuse.secret_key}}
    LANGFUSE_HOST: langfuse-web:3000
    STORE_MODEL_IN_DB: true
image:
    pullPolicy: IfNotPresent
migrationJob:
    enabled: false
db:
    deployStandalone: false
    useExisting: false
proxy_config:
    model_list: {{ toYaml .Values.litellm_model_list | nindent 10}}
    litellm_settings:
        callbacks: ["langfuse"]
    general_settings:
        master_key: {{ .Values.litellm_master_key }}
ingress:
  tls:
  - hosts:
    - {{ .Values.domain }}

  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-body-size: "100g"
  hosts: 
  - host: litellm.{{ .Values.domain }}
    paths:
      - path: /
        pathType: ImplementationSpecific
  enabled: true
  className: {{ .Namespace }}