ollama:
  enabled: false
openaiBaseApiUrl: "http://litellm:4000"
persistence:
  size: {{.Values.openwebui.size}}
extraEnvVars:
  - name: DATABASE_URL
    value: {{ .Values.db_url }}/{{ .Namespace }}_openwebui
  - name: OPENAI_API_KEYS
    value: fake;{{ .Values.litellm_master_key }}
  - name: VECTOR_DB
    value: {{.Values.openwebui.vector_db}}
  - name: PGVECTOR_DB_URL
    value: {{ env "PGVECTOR_DB_URL" }}
image:
  pullPolicy: IfNotPresent
  repository: {{.Values.openwebui.image}}
  tag: {{.Values.openwebui.tag}}
pipelines:
  image:
    pullPolicy: IfNotPresent
ingress:
  host: openwebui.{{ .Values.domain }}
  enabled: true
  class: {{ .Namespace }}
  tls:
  - hosts:
    - {{ .Values.domain }}
    secretName: openwebui-tls
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-staging"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-body-size: "100g"
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{- toYaml . | nindent 2 }}
{{- end }}