ollama:
  enabled: false
tika:
  enabled: {{ .Values.openwebui.tika }}
openaiBaseApiUrl: "http://litellm:4000"
persistence:
  enabled: true
  size: {{.Values.openwebui.size}}
  storageClass: {{.Values.storageClassName}}
extraEnvVars:
  - name: DATABASE_URL
    value: {{ .Values.db_url }}/{{ .Namespace }}_openwebui
  - name: OPENAI_API_KEYS
    value: {{.Values.openwebui.pipeline_api_key}};{{ .Values.litellm_master_key }}
  - name: VECTOR_DB
    value: {{.Values.openwebui.vector_db}}
  - name: PGVECTOR_DB_URL
    value: {{ env "PGVECTOR_DB_URL" }}
  - name: ENABLE_SIGNUP
    value: "true"
  - name: WEBUI_AUTH
    value: "true"
  - name: WEBUI_AUTH_TRUSTED_EMAIL_HEADER
    value: X-Auth-Request-Email
image:
  pullPolicy: IfNotPresent
  repository: {{.Values.openwebui.image}}
  tag: {{.Values.openwebui.tag}}
pipelines:
  persistence:
    storageClass: {{.Values.storageClassName}}
  image:
    pullPolicy: IfNotPresent
  extraEnvVars:
    - name: PIPELINES_API_KEY
      value: {{.Values.openwebui.pipeline_api_key}}

ingress:
  host: openwebui.{{ .Values.domain }}
  enabled: true
  class: {{ .Namespace }}
  existingSecret: dkube-ai-tls
  tls:
  - hosts:
    - {{ .Values.domain }}

  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-body-size: "100g"
    nginx.ingress.kubernetes.io/auth-url: "https://{{ .Values.domain }}/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signin: "https://{{ .Values.domain }}/oauth2/start?rd=$escaped_request_uri"
    nginx.ingress.kubernetes.io/auth-response-headers: Authorization, X-Auth-Request-Email
{{- with .Values.imagePullSecrets }}
imagePullSecrets:
{{- toYaml . | nindent 2 }}
{{- end }}